* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

em {
    margin-bottom: 90px;
}

a {
    color: lightgrey;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 10px;
}

header div.name h3 {
    font-size: 1.5rem;
    color: lightgray;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #373D48;
    color: white;
}

.header-about div p {
    margin: 10px 0;
}

header div.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.name h3 {
    font-weight: 400;
}

header strong {
    margin-right: 30px;
    color: black;
}

main {
    padding: 10px 30px;
    text-align: justify;
    line-height: 35px;
}

article.skills .header-content-skills,
article.software .header-content-skills {
    line-height: 20px;
}

h3,
h5 {
    letter-spacing: 2px;
}

h2.heading {
    color: #373D48;
    border-bottom: 2px solid #373D48;
}

main section {
    margin: 30px 0 10px 0;
}

main div.header-content {
    display: flex;
    margin: 10px 0;
}

div.header-content div.duration {
    width: 25%;
}

div.header-content div.heading-content-description {
    width: 50%;
}

div.header-content .interests {
    display: flex;
    justify-content: space-between;
}

.interests div {
    width: 40%;
    text-align: justify;
}

div.work-history-info {
    display: flex;
}

div.work-history-info>div {
    margin: 0 5px;
}

i.fa-dot-circle {
    font-size: 0.8rem;
}

.progress-bar-container {
    height: 12px;
    background-color: lightgray;
    border-radius: 10px;
}

.progress-bar {
    border-radius: 10px 0 0 10px;
    background-color: #373D48;
    height: 12px;
}

.hundred-percent {
    width: 100%;
    border-radius: 10px;
}

.eighty-percent {
    width: 80%;
}

.sixty-percent {
    width: 60%;
}

.progress-bar-container-overall {
    width: 30%;
    padding: 7px 0 5px 0;
}

.header-content-skills {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

div.skills {
    width: 50%;
}

div.progress-bar-container-overall p {
    text-align: right;
    font-size: smaller;
    font-style: italic;
}

article {
    text-align: left;
}

div.skills {
    display: flex;
    justify-content: space-between;
}

div.skills div.duration {
    display: none;
}

@media screen and (max-width: 1024px) {
    div.skills {
        width: 60%;
    }
    div.header-content div.duration {
        width: 20%;
    }
    div.header-content div.heading-content-description {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    div.header-content div.duration {
        width: 15%;
    }
    div.header-content div.heading-content-description {
        width: 85%;
    }
    header {
        display: block;
    }
    .header-about {
        display: flex;
        justify-content: space-between;
    }
    div.header-content div.duration {
        width: 30%;
    }
    main div.header-content {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    div.header-content .interests {
        flex-direction: column;
        align-content: space-between;
    }
    div.header-content .interests div {
        width: 100%;
    }
    section {
        text-align: left;
    }
    div.skills div.duration {
        display: block;
        width: 26%;
        margin: 0;
    }
    div.header-content-skills {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .skill-name {
        margin: 0;
        width: 45%;
    }
    div.skills {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-about {
        display: block;
        margin: 0 auto;
    }
    header h1 {
        font-weight: 700;
        text-align: center;
        font-size: xx-large;
        letter-spacing: 5px;
    }
    header h3 {
        font-size: x-small;
        text-align: center;
    }
    div.skills div.duration {
        display: none;
    }
    br {
        display: none;
    }
    article {
        margin: 20px auto;
        text-align: left;
    }
    article div.header-content {
        display: block;
        margin: 0 auto;
    }
    article div.header-content div.duration {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    article div.header-content div.header-content-description {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    section {
        text-align: justify;
    }
    div.heading-content-description {
        width: 20%;
    }
    div.skills {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}